Вы разработаете консольную систему, записывающую информацию о транспортном средстве. Транспортные средства, которые мы собираемся рассмотреть, относятся к типу легковых автомобилей, грузовиков и внедорожников.

Программа будет разрабатываться шаг за шагом, и в первой части вы создадите следующие классы:

-Класс Vehicle со следующими характеристиками:
марка
модель года
пробег
цена
Конструктор, который инициализирует все переменные.
метод str, который выводит информацию обо всех членах класса.
-Класс Автомобиль, наследуемый от Vehicle, имеет следующие дополнительные данные.
количество дверей
Конструктор, который инициализирует все переменные.
Переопределите метод str, который дополнительно выводит данные, относящиеся к классу Car.
- Класс Truck, наследованный от Vehicle, имеют следующие дополнительные данные.
полный привод, 2 или 4WD
Конструктор, который инициализирует все переменные
Переопределите метод str, который дополнительно выводит данные, относящиеся к классу Truck.
- Класс SUV, унаследованные от Vehicle, имеют следующие дополнительные данные.
пассажировместимость
Конструктор, который инициализирует все переменные
Переопределите метод str, который дополнительно выводит данные, относящиеся к классу SUV.